@{
    var courses = (List<Admin.Models.MCourse>)ViewBag.courses;
}

<table id="dt" class="table tblsm">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Published</th>
            <th>Date Created</th>
            <th>Date Published</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in courses)
        {
            <tr>
                <td title="@item.CourseName">@item.CourseName</td>
                <td title="@item.ECourseCategoryIdFkNavigation.Category">@item.ECourseCategoryIdFkNavigation.Category</td>
                <td title="@item.Published">@item.Published</td>
                <td title="@item.DateCreated.ToString("yyyy-MM-dd")">@item.DateCreated.ToString("yyyy-MM-dd")</td>
                <td title="@item.DatePublished?.ToString("yyyy-MM-dd")">@item.DatePublished?.ToString("yyyy-MM-dd")</td>
                <td>
                    <a href="~/Course/EditCourse?course_id=@item.Id" style="color:green;">
                        Edit
                    </a>
                    |
                    <a href="~/CourseTopics/AllTopics?course_id=@item.Id" style="color:orange;">
                        Topics
                    </a>
                    |
                    <a href="~/CourseMaterial/AllCourseMaterial?course_id=@item.Id" style="color:purple;">
                        CourseWork
                    </a>
                    |
                    <a href="~/CourseQuestionsAndAnswers/AllQuestions?course_id=@item.Id" style="color:black;">
                        Questions
                    </a>
                    |
                    <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.Id')">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="post" action="~/Course/DeleteCourse" id="f1">
    <input type="hidden" name="id" id="id"/>
</form>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Course?',
            buttons: {
                Yes: function () {
                    $("#id").val(id);
                    $("#f1").submit();
                },
                No: function () {
                },

            }
        });

    }

</script>