@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var topics = (List<Admin.Models.MCourseTopic>)ViewBag.topics;
    var material = (Admin.Models.MCourseMaterial)ViewBag.material;
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            Edit Material for Course: @material.MCourseIdFkNavigation.CourseName
        </div>
        <div class="col-md-3">
            @await Html.PartialAsync("~/Views/Shared/_MediaModals.cshtml")
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="~/CourseMaterial/EditCourseMaterial">
                <div class="form-group">
                    <input type="hidden" name="Id" value="@material.Id" />
                    <select class="form-control" name="MCourseTopicIdNfk">
                        @foreach (var item in topics)
                        {
                            <option value="@item.Id" selected="@(material.MCourseTopicIdNfk==item.Id)">@item.Topic</option>
                        }
                    </select>
                    <small><span style="color:red;">*</span> Course Topic</small>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="..." required name="PageTitle" value="@material.PageTitle">
                    <small><span style="color:red;">*</span> Title</small>
                </div>

                <div class="form-group">
                    <input type="number" class="form-control" placeholder="..." required name="PageSequence" min="0" value="@material.PageSequence">
                    <small><span style="color:red;">*</span> Sequence</small>
                </div>

                <div class="form-group">
                    <textarea id="editor" class="form-control" placeholder="..." name="PageData">@material.PageData</textarea>
                    <small><span style="color:red;">*</span> Page Data</small>
                </div>

                <div class="form-group">
                    <input type="checkbox" name="Published" value="true" @(material.Published ? "checked" : "") />
                    <small>Published</small>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="HasQuestions" value="true" checked="@(material.HasQuestions)" />
                    <small>Has Questions</small>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="HasBoardGame" value="true" checked="@(material.HasBoardGame)" />
                    <small>Has Board Game</small>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

<script src="~/libs/ckeditor/ckeditor.js"></script>
<script src="~/libs/ckeditor/config.js"></script>
<script>
    CKEDITOR.replace('editor');
</script>


