@{
    var files = (List<Admin.Models.MMedia>)ViewBag.files;
}

<html>
<head>

    <link href="~/libs/data_tables/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css." rel="stylesheet" />
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/libs/data_tables/jquery.dataTables.js"></script>

</head>
<body>
    <table id="dt" class="table tblsm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in files)
            {
                <tr>
                    <td title="@item.OriginalFileName">@item.OriginalFileName</td>
                    <td>
                        <a href="javascript:void(0)" style="color:green;" onclick="copyLink('@item.IdFileNameGuid');">
                            CopyLink
                        </a>
                        |
                        <a href="~/Media/PreviewFile/@item.IdFileNameGuid" target="_blank" style="color:blue;">
                            Preview
                        </a>
                        |
                        <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.IdFileNameGuid')">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form method="post" action="~/Media/DeleteMediaFile" id="f1">
        <input type="hidden" name="id" id="id" />
        <input type="hidden" name="return_url" id="return_url" value="" />
    </form>

    <script>

        $('#dt').DataTable({
            select: true,
            responsive: true,
            dom: 'lBfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ]
        });

        function confirm_delete(id) {
            if (confirm('Delete this file')) {
                $("#id").val(id);
                $("#f1").submit();
            }
        }

    </script>


    <script>
        function copyLink(file_name) {
            //
            var clip_text = "";
            //
            var file_extension = file_name.split('.').pop().toLowerCase();
            //
            var extensions_images = ["jpg","jpeg","png","gif","tiff","tif","webp","bmp","eps","svg"];
            var extensions_audio = ["wav","mp3","m4a","wma","aac","flac","aiff","3ga","asf","acc"];
            var extensions_video = ["3gp","vob","mkv","wma","mov","webm", "mpg", "mp2", "mpeg", "mpe", "mpv", "ogg", "mp4", "m4p", "m4v", "avi", "wmv", "mov", "qt", "flv", "swf", "avchd"];
            var extensions_documents = ["doc", "docx", "html", "htm", "odt", "pdf", "xlsx", "xls", "ods", "ppt","pptx", "txt"];

            var is_file_image = extensions_images.includes(file_extension);
            var is_file_audio = extensions_audio.includes(file_extension);
            var is_file_video = extensions_video.includes(file_extension);
            var is_file_document = extensions_documents.includes(file_extension);

            if (is_file_image) {
                clip_text = "<img src='@(Url.Content("~/Media/PreviewFile"))/" + file_name + "' height='150' />";
            }
            else if (is_file_audio) {
                clip_text = `<audio controls>
                                <source src="@(Url.Content("~/Media/PreviewFile"))/${file_name}" type="audio/${file_extension}">
                                Your browser does not support the audio element.
                            </audio>`;
            }
            else if (is_file_video) {
                clip_text = `<video width="320" height="240" controls>
                                <source src="@(Url.Content("~/Media/PreviewFile"))/${file_name}" type="video/${file_extension}">
                                Your browser does not support the video tag.
                            </video>`;
            }
            else if (is_file_document) {
                clip_text = `<iframe src='@(Url.Content("~/Media/PreviewFile"))/${file_name}' width='80%' height='565px' frameborder='0'> </iframe>`;
            }

            navigator.clipboard.writeText(clip_text).then(function () {
                alert("Link Copied:");
            }, function (err) {
                alert('Your current Browser does not support this function');
            });
        }
    </script>
</body>
</html>


