@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var assesment = (Admin.Models.MContinouseAssesment)ViewBag.assesment;
    var course = (Admin.Models.MCourse)ViewBag.course;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            Edit Assesment for Course: @course.CourseName
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="~/CourseAssesments/EditAssesment">
                <div class="form-group">
                    @* hidden *@
                    <input type="hidden" name="Id" value="@assesment.Id" />
                    <input type="hidden" name="MCourseIdFk" value="@course.Id" />
                    @*  *@
                    <input type="text" class="form-control" placeholder="..." required name="AssesmentName" value="@assesment.AssesmentName">
                    <small><span style="color:red;">*</span> Assesment Name</small>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="..." required name="Description" value="@assesment.Description">
                    <small><span style="color:red;">*</span> Description</small>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
