@page "/Exam/{course_id}"

@inject IJSRuntime js;
@inject HttpClient http_client;
@using System.Web;


@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject State state

@if (course == null)
{
    <div class="row">
        <div class="col-md-12" style="display:flex;align-content:center;justify-content:center;">
            <Loading isloading="true" height="50" width="50" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="display:flex;align-content:center;justify-content:center;">
            <p style="clear:both;">Loading course...</p>
        </div>
    </div>
}
else
{
    <div class="page-wrapper white-theme sidebar-bg. bg1. toggled">
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <!-- sidebar-brand  -->
                <div class="sidebar-item. sidebar-brand" style="color:black!important;">
                    <a href="/Course/@course.Id"><i title="back" class="fas fa-sign-out-alt flip_180" style="color:black;font-size:22px;"></i></a><a style="color:black;" title="@course.CourseName">@(course.CourseName.Length >= 10 ? course.CourseName.Substring(0, 9) + "..." : course.CourseName) / Exam</a>
                </div>
                <!--<hr />-->
                <!-- sidebar-search  -->
                <!--<div class="sidebar-item sidebar-search">
                    <div>
                        <div class="input-group">
                            <input type="text" class="form-control search-menu" placeholder="Search...">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />-->
                <!-- sidebar-menu  -->
                <div class="sidebar-item.">

                    <div id="html_exam" class="demo">
                        <ul>
                            @foreach (var topic in course.MCourseTopic.OrderBy(i => i.Sequence))
                            {
                                <li data-jstree='{ "opened" : @(course_counter == 0 ? "true" : "false") }'>
                                    @topic.Topic
                                    <ul>
                                        @{
                                            int question_number = 1;
                                        }
                                        @foreach (var page_ in course.MQuestion.Where(i => i.MCourseTopicIdFk == topic.Id).OrderBy(i => i.QuestionSequence))
                                        {
                                            <li data-jstree='{ "selected" : false,"PageData":"@page_.QuestionText","QuestionID":"@page_.Id" }'>
                                                Question @question_number
                                            </li>
                                            @(question_number=question_number+1)
                                        }
                                    </ul>
                                </li>
                                @(course_counter = course_counter + 1)
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- page-content  -->
        <main class="page-content pt-2">
            <div id="overlay" class="overlay"></div>
            <div class="container-fluid p-5">
                @((MarkupString)PageData)
                @if (question != null && course.MQuestionAnswerOptions != null)
                {
                    <hr />
                    <QuestionAnswerComponent question="question" course="course"/>
                }
            </div>
        </main>

    </div>
}


@code {
    [Parameter]
    public string course_id { get; set; }
    private int course_counter = 0;
    private static string PageData = string.Empty;
    private bool tree_initialized = false;
    private BlazorAppClient.Shared.Models.MQuestion question = null;



    private BlazorAppClient.Shared.Models.MCourse course = null;

    protected override async Task OnParametersSetAsync()
    {
        base.OnParametersSet();
        PageData = string.Empty;
        await StartExam();
    }

    protected override async Task OnAfterRenderAsync(bool first_render)
    {
        if (first_render)
        {

            await js.InvokeAsync<string>("initInstance", DotNetObjectReference.Create(this));
            StateHasChanged();
        }
        if (!tree_initialized)
        {
            await js.InvokeAsync<string>("initTree");
        }

    }

    private async Task<BlazorAppClient.Shared.CurrentUser> GetCurrentUser()
    {
        dynamic user_string = await local_storage.GetItemAsStringAsync("current_user");
        var current_user = JsonConvert.DeserializeObject<BlazorAppClient.Shared.CurrentUser>(user_string);
        return current_user;
    }


    [JSInvokable]
    public void RenderContent(string page_data, string question_id)
    {
        tree_initialized = true;
        if (!string.IsNullOrEmpty(page_data))
        {
            var base64EncodedBytes = System.Convert.FromBase64String(page_data);
            PageData = System.Text.Encoding.UTF8.GetString(base64EncodedBytes);
            question = course.MQuestion.Where(i => i.Id == question_id).First();
            StateHasChanged();
        }
    }

    public async Task StartExam()
    {
        try
        {
            var current_user = await GetCurrentUser();
            var response1 = await http_client
                   .GetAsync($"Courses/StartExam?asp_net_user_id={HttpUtility.UrlEncode(current_user.user_id)}&course_id={course_id}");
            var response2 = await response1.Content.ReadAsStringAsync();
            Console.WriteLine(response2);
            dynamic json = JsonConvert.DeserializeObject(response2);
            if (json.res == "ok")
            {
                course = JsonConvert.DeserializeObject<BlazorAppClient.Shared.Models.MCourse>(json.data.ToString());
            }
            else
            {
                toastService.ShowError(json.data.ToString(), "Error");
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message, "Error");
        }
        finally
        {
        }
    }


}
