@{
    var questions = (List<Admin.Models.MCourseWorkQuestion>)ViewBag.questions;
    var students = (List<Admin.Models.AspNetUsers>)ViewBag.students;
}

<table id="dt" class="table tblsm">
    <thead>
        <tr>
            <th>Student</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in students)
        {
            <tr>
                <td title="@item.MCourseMaterialIdFkNavigation.PageTitle">@item.MCourseMaterialIdFkNavigation.PageTitle</td>
                <td title="@item.EQuestionTypeIdFkNavigation.Type">@item.EQuestionTypeIdFkNavigation.Type</td>
                <td title="@item.QuestionSequence">@item.QuestionSequence</td>
                <td>
                    <a href="~/CourseMaterialQuestionsAndAnswers/CreateQuestionAndAnswer?course_material_id=@(item.MCourseMaterialIdFk)&question_id=@(item.Id)" style="color:green;">
                        Open
                    </a>
                    |
                    <a href="~/CourseMaterialQuestionsAndAnswers/CreateQuestionAndAnswer?course_material_id=@(item.MCourseMaterialIdFk)&question_id=@(item.Id)" style="color:black;">
                        Student Responses
                    </a>
                    |
                    <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.Id')">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="post" action="~/CourseQuestionsAndAnswers/DeleteQuestion" id="f1">
    <input type="hidden" name="id" id="id"/>
</form>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Question?',
            buttons: {
                Yes: function () {
                    $("#id").val(id);
                    $("#f1").submit();
                },
                No: function () {
                },

            }
        });

    }

</script>